@import url(https://fonts.googleapis.com/css?family=Roboto:300);
nav{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(100deg, #3498db, #2ecc71);
    margin-top: 20px;
    text-align: center;
    height: 70px;
    padding-bottom: 10px;
    font-size: larger;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    transform: skew(-35deg);
    padding: 20px;
    margin-top: -30px;
    
}
nav ul li{
    background-color:  #eedada;
    float: left;
    border-right :1px solid blue ;
    color: #555;
    font-weight: 600;
    transition: all 0.2s linear;
    /* padding: 10px; */
    text-decoration: none;
    /* padding:20px 25px; */
    margin-top: 0px;
}
nav ul li :hover{
    /* background-color: #76f157; */
    background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );
    color:white;
}
.nav-link{
    color:darkblue;
    display:block;
    padding:25px 25px;
    text-decoration: none;
}